{% extends '::base.html.twig' %}
{% block sidebar %}
    <ul>
        <li><a href="#">Search</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Search</a></li>
    </ul>
{% endblock %}