{% extends 'BookRaterRaterBundle::layout.html.twig' %}

{% block title %} About{% endblock%}
{% block header %}About BookRater{% endblock %}

{% block body %}
    <article>
        <p>It's a book review site... <strong>We rate Books!</strong></p>
    </article>
{% endblock %}