{% extends "BookRaterRaterBundle::layout.html.twig" %}

{% block title %}Home{% endblock %}
{% block header %}Latest Reviews{% endblock %}
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% include '@BookRaterRater/Review/review_list.html.twig' %}
{% endblock %}
