{% extends "@BookRaterRater/layout.html.twig" %}

{% block title %}Edit {{ review.title }}{% endblock %}
{% block header %}Edit {{ review.title }}{% endblock %}

{% block body %}
    {{ include('@BookRaterRater/Review/_form.html.twig', {submitText: 'Update'}) }}
    {% if is_granted("ROLE_USER") and review.user.username == app.user.username or is_granted("ROLE_ADMIN") %}
        <a href="{{ path('bookrater_review_delete', {'id': review.id}) }}" class="btn btn-danger">Delete</a>
    {% endif %}
{% endblock %}