{% extends "BookRaterRaterBundle::layout.html.twig" %}


{% block title %}{{ review.title }}{% endblock %}
{% block header %}{{ review.title }}{% endblock %}

{% block body %}
<h1>Welcome to the Review:view page</h1>
{% endblock %}
